body {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}


h2 {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 1px auto 0px auto;
    border: 1px solid #ddd;
    box-sizing: border-box;
    line-height: 0em;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}


.container {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 98%;
    height: 310px;
    padding: 10px 5px 20px 5px;
    margin: 5px 5px 5px 5px;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}


.bytes,.packets,.overview {
    width: 97%;
    height: 100%;
    font-size: 12px;
    font-family: verdana, arial, helvetica, sans-serif; 
    line-height: 1.2em;
    display: inline-block
    vertical-align: middle;       
}


.mybutton {
    border: 1px solid #cccccc;
    -webkit-box-shadow: #feffff 0px 1px 1px ;
    -moz-box-shadow: #feffff 0px 1px 1px ; 
    box-shadow: #feffff 0px 1px 1px ; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: verdana, arial, helvetica, sans-serif; 
    padding: 10px 10px 10px 10px; 
    text-decoration: none; 
    display: inline-block;
    text-shadow: 0px 1px 0 rgba(255,255,255,1);
    font-weight: bold; 
    color: #4a4a4a;
    background-color: #f7f5f6; 
    background-image: -webkit-gradient(linear, left top, left bottom, 
                                        from(#f7f5f6), to(#dddddd));
    background-image: -webkit-linear-gradient(top, #f7f5f6, #dddddd);
    background-image: -moz-linear-gradient(top, #f7f5f6, #dddddd);
    background-image: -ms-linear-gradient(top, #f7f5f6, #dddddd);
    background-image: -o-linear-gradient(top, #f7f5f6, #dddddd);
    background-image: linear-gradient(to bottom, #f7f5f6, #dddddd);
    filter:progid:dximagetransform.microsoft.gradient(gradienttype=0,
                    startcolorstr=#f7f5f6, endcolorstr=#dddddd);
}

a:hover,.active {
    border: 1px solid #adadad;
    background-color: #e0e0e0; 
    background-image: -webkit-gradient(linear, left top, left bottom, 
                                        from(#e0e0e0), to(#bdbbbc));
    background-image: -webkit-linear-gradient(top, #e0e0e0, #bdbbbc);
    background-image: -moz-linear-gradient(top, #e0e0e0, #bdbbbc);
    background-image: -ms-linear-gradient(top, #e0e0e0, #bdbbbc);
    background-image: -o-linear-gradient(top, #e0e0e0, #bdbbbc);
    background-image: linear-gradient(to bottom, #e0e0e0, #bdbbbc);
    filter:progid:dximagetransform.microsoft.gradient(gradienttype=0,
                    startcolorstr=#e0e0e0, endcolorstr=#bdbbbc);
}


.legend {
    border: 1px solid #E6E6E6;
    font-size: 12px;
    font-family: verdana, arial, helvetica, sans-serif; 
    text-align: left;
    padding: 2px;
    margin-bottom: 8px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #E6E6E6;
    display: inline-block;
    margin: 0 auto;
}

.arrow-right {
    position: relative;
    top: -70px;
    left: -5px;
    width: 0; 
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;	
    border-left: 15px solid #bbbbbb;
    float: right;
}

.arrow-left {
    position: absolute;
    top: 18px;
    left: 5px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent; 
    border-right: 15px solid #bbbbbb;
    float: left;
}

